{% extends "admin/admin.html.twig" %}

{% block title 'Édition : ' ~ recipe.title | upper %}

{% block body %}
  <h1>Édition de {{ recipe.title }}</h1>

  {{ form_start(form) }}
    <div hidden>
      {{ form_row(form.slug) }}
    </div>
  {{ form_end(form) }}
{% endblock %}