{% extends 'admin/admin.html.twig' %}

{% block title "Modification une catégorie" %}

{% block body %}
    <h1>Modification d'une catégorie</h1>

    {{ form_start(form) }}
        <div hidden>
            {{ form_row(form.slug) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
